<template>
  <div class="container">
    <Title title="Bikin Cerita"></Title>
    <Form
      :title.sync="title"
      :body.sync="body"
      :userId.sync="userId"
      state="create"
    ></Form>
  </div>
</template>

<script>
import Title from "@/components/Title.vue";
import Form from "@/components/Form.vue";
import store from "@/store/index";

export default {
  name: "CreatePost",
  beforeRouteEnter(routeTo, routeFrom, next) {
    store.dispatch("user/fetchUsers").then(() => {
      next();
    });
  },
  data() {
    return {
      title: "",
      body: "",
      userId: 0,
    };
  },
  components: {
    Title,
    Form,
  },
};
</script>

<style></style>
