<template>
  <div class="container">
    <Title title="Edit Cerita"></Title>
    <Form
      :title.sync="post.post.title"
      :body.sync="post.post.body"
      :userId.sync="post.post.userId"
      state="update"
    ></Form>
  </div>
</template>

<script>
import Title from "@/components/Title.vue";
import Form from "@/components/Form.vue";
import store from "@/store/index";
import { mapState } from "vuex";

export default {
  name: "EditPost",
  beforeRouteEnter(routeTo, routeFrom, next) {
    store.dispatch("user/fetchUsers").then(() => {
      if (routeTo.params.id) {
        store.dispatch("post/fetchPost", routeTo.params.id).then(() => {
          next();
        });
      } else {
        next();
      }
    });
  },
  components: {
    Title,
    Form,
  },
  computed: {
    ...mapState(["post"]),
  },
};
</script>

<style></style>
