<template>
  <div class="container">
    <Title></Title>
    <Loading></Loading>
    <div class="columns is-multiline">
      <div v-for="post in post.posts" :key="post.id" class="column is-4">
        <PostCard
          :postId="post.id"
          :bodyText="post.body"
          :title="post.title"
        ></PostCard>
      </div>

      <b-modal
        :active.sync="post.modal.info"
        has-modal-card
        trap-focus
        :destroy-on-hide="false"
        aria-role="dialog"
        aria-modal
      >
        <ModalInfo></ModalInfo>
      </b-modal>
    </div>

    <b-pagination
      :total="post.pagination.totalPage"
      :current.sync="post.pagination.currentPage"
      :order="order"
      :simple="isSimple"
      :rounded="isRounded"
      :per-page="post.pagination.limitPerPage"
      :icon-prev="prevIcon"
      :icon-next="nextIcon"
      aria-next-label="Lanjut"
      aria-previous-label="Balik"
      aria-page-label="Page"
      aria-current-label="Halaman Sekarang"
      @change="changePage"
    >
    </b-pagination>
  </div>
</template>

<script>
import PostCard from "@/components/PostCard.vue";
import Title from "@/components/Title.vue";
import Loading from "@/components/Loading.vue";
import ModalInfo from "@/components/ModalInfo.vue";
import { mapState } from "vuex";
import store from "@/store/index";

const getPagePost = (routeTo, next) => {
  const currentPage = parseInt(routeTo.query.page || 1);
  store.dispatch("changeLoading", true).then(() => {
    store
      .dispatch("post/fetchPosts", {
        page: currentPage,
      })
      .then(() => {
        next();
      })
      .catch((err) => {
        console.log(err);
      });
  });
};

export default {
  name: "Post",
  data() {
    return {
      order: "is-centered",
      isSimple: false,
      isRounded: false,
      prevIcon: "chevron-left",
      nextIcon: "chevron-right",
    };
  },
  components: {
    PostCard,
    Title,
    Loading,
    ModalInfo,
  },
  methods: {
    changePage(number) {
      this.$router.push({ name: "post", query: { page: number } });
    },
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    getPagePost(routeTo, next);
  },
  beforeRouteUpdate(routeTo, routeFrom, next) {
    getPagePost(routeTo, next);
  },
  computed: {
    ...mapState(["post"]),
  },
};
</script>

<style></style>
