<template>
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <b-field label="Author">
          <b-select
            placeholder="Pilih Author"
            @input="$emit('update:userId', $event)"
            :value="userId"
            icon="user-tie"
            expanded
          >
            <option
              v-for="user in user.users"
              :key="user.id"
              :value="user.id"
              >{{ user.name }}</option
            >
          </b-select>
        </b-field>
        <b-field label="Title">
          <b-input
            @input="$emit('update:title', $event)"
            :value="title"
          ></b-input>
        </b-field>
        <b-field label="Body">
          <b-input
            type="textarea"
            @input="$emit('update:body', $event)"
            :value="body"
          ></b-input>
        </b-field>
      </div>
    </div>
    <div class="column is-half is-offset-one-quarter">
      <div class="field is-grouped">
        <div class="control">
          <template v-if="state === 'create'">
            <b-button
              :loading="toggleLoading"
              @click="createPost"
              type="is-primary"
              >Submit</b-button
            >
          </template>
          <template v-else>
            <b-button
              :loading="toggleLoading"
              @click="updatePost"
              type="is-primary"
              >Update</b-button
            >
          </template>
        </div>
        <div class="control">
          <b-button type="is-link" tag="router-link" :to="'/post'"
            >Back</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import store from "../store/index";
import ArticleService from "@/services/ArticleService.js";

export default {
  name: "Form",
  props: {
    state: {
      type: String,
      default: "create",
    },
    title: {
      type: String,
      default: "",
    },
    body: {
      type: String,
      default: "",
    },
    userId: {
      type: Number,
    },
  },
  data() {
    return {
      toggleLoading: false,
    };
  },
  computed: {
    ...mapState(["user"]),
  },
  methods: {
    createPost() {
      this.toggleLoading = true;
      store
        .dispatch("post/createPost", {
          title: this.title,
          body: this.body,
          userId: this.userId,
        })
        .then(() => {
          this.$router.push({ name: "post" });
        });
    },
    updatePost() {
      this.toggleLoading = true;
      ArticleService.updatePost({
        title: this.title,
        body: this.body,
        userId: this.userId,
        postId: this.$route.params.id,
      })
        .then(() => {
          this.$router.push({ name: "post" });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style></style>
