<template>
  <b-loading
    :active.sync="loading"
    :is-full-page="false"
    :can-cancel="false"
  ></b-loading>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["loading"]),
  },
};
</script>

<style></style>
