<template>
  <section>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ post.post.title }}</p>
      </header>
      <section class="modal-card-body">
        {{ post.post.body }}
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">
          Close
        </button>
        <button @click="deletePost" class="button is-danger">Delete</button>
      </footer>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import store from "@/store/index";

export default {
  methods: {
    deletePost() {
      store.dispatch("post/removePost", this.post.post.id).then(() => {
        this.$parent.close();
      });
    },
  },
  computed: {
    ...mapState(["post"]),
  },
};
</script>

<style></style>
