<template>
  <b-navbar type="is-dark" :shadow="true">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ name: 'post' }">
        <h1>Pixel House Test</h1>
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item tag="router-link" :to="{ name: 'create-post' }">
        <span>
          Bikin Cerita
        </span>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style></style>
