<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://api.adorable.io/avatars/96/antoniangga@gmail.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Jhon Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        <p class="title cut-text-title">
          {{ title }}
        </p>
        <p class="subtitle cut-text-body">
          {{ bodyText }}
        </p>
        <br />
        <time :datetime="date">{{ date | formatDate }}</time>
      </div>
    </div>
    <footer class="card-footer columns is-gapless">
      <div class="column">
        <div class="buttons align-center">
          <b-button
            @click="showInfoModal"
            expanded
            class="card-footer-item"
            icon-left="info"
            type="is-info"
            >View More</b-button
          >
          <b-button
            tag="router-link"
            :to="{ name: 'update-post', params: { id: postId } }"
            expanded
            class="card-footer-item"
            icon-left="edit"
            type="is-warning"
            >Edit</b-button
          >
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import store from "@/store/index";

export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    bodyText: {
      type: String,
      default: "",
    },
    postId: {
      type: [String, Number],
    },
  },
  computed: {
    date() {
      return new Date();
    },
  },
  methods: {
    showInfoModal() {
      store.dispatch("post/fetchPost", this.postId);
      store.dispatch("post/toggleModal", true);
    },
  },
};
</script>

<style scoped>
.cut-text-title {
  text-overflow: ellipsis;
  overflow: hidden;
  /* width: 160px;
  height: 1.2em; */
  white-space: nowrap;
}
</style>
