<template>
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title">
          {{ title }}
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TitleHeader",
  props: {
    title: {
      type: String,
      default: "Cerita Programmer 💻🚀",
    },
  },
};
</script>

<style></style>
